.inner {
    border-width: 2;
    border-color: darkgrey;
    border-style: solid;
    background-color: darkolivegreen;
    color: whitesmoke;
    font-size: medium;
    align-items:center;
    justify-content:center;
    display:block;
}

.outer {
    border-width: 5;
    border-color: darkgrey;
    border-style: solid;
}

.date {
    height: 120;
}
