.inner {
    border-width: 5;
    border-color: darkgrey;
    border-style: solid;
    background-color: darkgreen;
    color: whitesmoke;
    font-size: larger;
    align-items: center;
    justify-content: center;
    display: flex;
}

.task {
    align-items: center;
    justify-content: center;
    display: flex;
    writing-mode: vertical-rl;
}

.outer {
    border-width: 5;
    border-color: darkgrey;
    border-style: solid;
}