<nav class="navbar navbar-expand-lg navbar-light py-1 bg-warning">
    <div class="container">
        <a class="navbar-brand" href="/">OrzOGC</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav" id="nav">
                <li class="nav-item" v-for="item in items">
                    <a class="nav-link" v-bind:href="item.link">@item.title@</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<script src="https://cdn.jsdelivr.net/npm/vue@3.0.7/dist/vue.global.prod.js"></script>
<script>
    const nav = Vue.createApp({
        delimiters: ['@', '@'],
        data() {
            return {
                items: [
                    { link: "msg", title: "Photo Board" },
                    { link: "ptt", title: "PTT Scraper" },
                    { link: "#", title: "PTT Analyse" },
                    { link: "#", title: "Food Stand POS" },
                ]
            }
        }
    }).mount('#nav')
</script>