{% extends "template.html" %}

{% block head %}
<title>XYZ todo-list</title>
<link rel="stylesheet" href="{{ url_for('static',filename='xyz/xyz.css') }}">

{% endblock %}

{% block body %}
<div class="row col-10 outer my-3 mx-auto g-2">
    <div class="row mx-auto px-0" style="height: 100;">
        <div class="col inner">3/19</div>
        <div class="col inner">3/19</div>
        <div class="col inner">3/19</div>
        <div class="col inner">3/19</div>
        <div class="col inner">3/19</div>
        <div class="col inner">3/19</div>
        <div class="col inner">3/19</div>
    </div>
    <div class="row mx-auto px-0" style="height: 400;">
        <div class="col inner task">
            人生中，你會經歷很多艱難的時刻，但這也會讓你意識到以前不曾在意過的好時光
        </div>
        <div class="col inner task">
            下一次的人生，我們要多笑一點、多愛一點，我們再也不要這麼害怕了
        </div>
        <div class="col inner task">
            恐懼會束縛你的靈魂，希望則釋放你的心靈
        </div>
        <div class="col inner task">
            人生中有些我們很在乎的事情，其實一點價值都沒有
        </div>
        <div class="col inner task">
            你根本不了解什麼是真正的失去，因為那只有在你愛某個東西勝過自己時才能體會
        </div>
        <div class="col inner task">
            不要等到生命快結束了，才發現自己從來沒有真正地活過
        </div>
        <div class="col inner task">
            我們向來概括承受這個現實世界呈現給我們的任何樣貌
        </div>
    </div>
    <div class="row mx-auto px-0" style="height: 100;">
        <div class="col inner">幹</div>
        <div class="col inner">幹</div>
        <div class="col inner">幹</div>
        <div class="col inner">幹</div>
        <div class="col inner">幹</div>
        <div class="col inner">幹</div>
        <div class="col inner">幹</div>
    </div>
</div>
{% block script %}

{% endblock %}
{% endblock %}