{% extends "template.html" %}

{% block head %}
<title>XYZ todo-list</title>
<link rel="stylesheet" href="{{ url_for('static',filename='xyz/xyz.css') }}">

{% endblock %}

{% block body %}
<div class="container">
    <div class="outer my-3">
        <div class="row mx-auto px-0" id="week">
            <div class="col inner" v-for="day in week">@day@</div>
        </div>
        <div id="day">
            <day></day>
        </div>
    </div>

    {% block script %}
    <script src="{{ url_for('static',filename='xyz/xyz.js') }}"></script>

    {% endblock %}
    {% endblock %}